.tasksListsOuterContainer {
  width: 100%;
  min-height: 800px;

  display: flex;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

.tasksListsInnerContainer {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  margin-top: 30px;
  background-color: rgb(77, 7, 4);
  opacity: 90%;
  width: 50%;
  height: max-content;

  display: flex;
  flex-direction: column;
  padding: 40px;

  font-size: 32px;
  font-weight: 600;
  color: rgb(196, 167, 131);

  border: solid 5px rgb(78, 9, 9);
  border-radius: 30px;
  font-family: "Nunito";
}
